<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>
            About
        </title>
        <link rel="icon" href="/img/weather.png">
    </head>
    
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Sourav Basu. It Uses data from weatherstack and mapbox.com!</p>
            <img class="potrait" src="/img/bluepages.png">
            <p>{{title}}</p>
        </div>
        {{>footer}}
    </body>
</html>